* {
    font-family: 'Raleway';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    background-color: var(--background-color);
    top: 0;
    border-bottom: 1px solid #444;
    position: sticky;
    z-index: 999;
}

.left-section {
    display: flex;
    align-items: center;
}

.left-section .logo {
    display: flex;
    align-items: center;
    margin-right: 40px; 
}

.left-section .logo-image {
    width: 40px; 
    height: auto;
    margin-right: 8px;
}

.left-section .site-name {
    font-size: 1.5rem;
    color: #ffffff;
}

.center-section {
    margin-right: 15vw;;
}

.center-section .search-bar {
    display: flex;
    align-items: center;
    width: 500px;
    height: 20px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #555;
    background-color: #1B1E1C;
    color: #ffffff;
}

.center-section .search-bar input {
    width: 250px;
    
    padding: 5px;
    border: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
}
.center-section .search-bar input::placeholder {
    color: #aaa;
}

.right-section .user-info {
    display: flex;
    align-items: center;
}

.right-section .user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.right-section .username {
    color: #ffffff;
    font-size: 1rem;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .center-section .search-bar {
        width: 300px;    
    }
}

@media screen and (max-width: 768px) {
    .center-section {
        margin-right: 0;
    }
    .center-section .search-bar {
        width: 200px;    
    }
    .left-section .site-name {
        font-size: 1.2rem;
    }
    .left-section .logo-image {
        width: 30px;
    }
    .left-section .logo{
        margin-right: 20px;
    }
}