<div class="navbar">
    <div class="left">
        <span>Tamazine</span>
        <img src="../../assets/images/logo.png" alt="Logo" />
        <div class="search">
            <img src="../../assets/icons/SearchIcon.svg" alt="">
            <input type="text" placeholder="Search..." />
        </div>
    </div>
    <div class="right">
        <div class="user">
            <span>PABLO JERUSALEN</span>
            <img src="../../assets/profileimages/user.png" alt="Pablo Pelon" />
        </div>
    </div>
</div>
