<div class="login-container">
    <div class="login-box">
     <div class="close-button" id="close-login">X</div>
        <img src="../src/assets/images/logo.png" alt="Logo" class="logo-image" />
        <h2 class="login-title">Iniciar Sesión</h2>
        
        <div class="input-group">
            <div class="input-wrapper">
                <input id="email" type="text" placeholder="Correo" class="input-field" />
            </div>
        </div>
        
        <div class="input-group">
            <div class="input-wrapper">
                <input id="password" type="password" placeholder="Contraseña" class="password-input" />
                <img src="/src/assets/icons/ShowPassWordIcon.svg" alt="Mostrar contraseña" class="toggle-password" />
            </div>
        </div>
        
        <button class="login-button">Entrar</button>
    </div>
</div>