<div class="leftBar">
    <div class="container">
        <div class="menu">
            <div class="item">
                <img src="https://picsum.photos/200" alt="" />
                <span>Principal</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/200" alt="" />
                <span>Popular</span>
            </div>
        </div>
        <hr />
        <div class="menu">
            <span>Temas</span>
            <div class="item">
                <img src="https://picsum.photos/200" alt="" />
                <span>Genero 1</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/200" alt="" />
                <span>Genero 2</span>
            </div>
        </div>
        <hr />
        <div class="menu">
            <span>Otros</span>
            <div class="item">
                <img src="https://picsum.photos/200" alt="" />
                <span>Ayuda</span>
            </div>
        </div>
    </div>
</div>