<div class="post">
    <div class="container">
        <div class="user">
            <div class="userInfo">
                <img src="../../assets/pablo_pelon.jpg" alt="">
                <div class="details">
                    <span class="groupName">Group Name ° Time</span>
                    <span class="userName">User Name</span>
                </div>
            </div>
            <div class="buttons">
                <button class="buttonUnirse">Unirse</button>
                <img src="../../assets/pablo_pelon.jpg" alt="Menu">
                <button class="buttonExtra">delete</button>
            </div>
        </div>
        <div class="content">
            <p>Description of the post</p>
            <img src="path_to_image" alt="imgpublicacion">
        </div>
        <div class="info">
            <div class="item">
                <img src="../../assets/pablo_pelon.jpg" alt="Not liked">
                10 Likes
            </div>
            <div class="item">
                <img src="../../assets/pablo_pelon.jpg" alt="Comentario">
                Comentarios
            </div>
            <div class="item">
                <img src="../../assets/pablo_pelon.jpg" alt="Compartir">
                Compartir
            </div>
        </div>
        <div class="comentarios">
            <!-- AQUI SE RENDERIZAN LOS COMENTARIOS -->
        </div>
    </div>
</div>