
.layout .main-content .app-principal{
    justify-content: center;
    
}

@media (max-width: 1280px) {
    .layout .main-content {
        gap: 0px;
    }

    .layout .content .app-rightbar {
        display: none;
    }
    .layout .content .app-principal {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .layout .main-content {
        gap: 0px;
    }
    .layout .content .app-rightbar {
        display: none;
    }
    .layout .content .app-principal {
        flex: 1; 
    }
    .content app-leftbar {
        display: none;
    }
    .content app-principal {
        flex: 1;
    }
}