
.layout .main-content .app-principal{
    justify-content: center;
    
}

.layout .main-content {
    gap: calc(60px + (100vw - 1280px) / 10);
}

@media (max-width: 1280px) {
    .layout .main-content {
        gap: 0px;
    }
    .layout .content .app-rightbar {
        display: none;
    }
    .layout .content .app-principal {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .layout .main-content {
        gap: 0px;
    }
    .layout .content .app-leftbar {
        display: none;
    }
    .layout .content .app-rightbar {
        display: none;
    }
    .layout .content .app-principal {
        flex: 1; 
    }
}