
<div class="rightBar">
    <div class="container">
      <div class="item">
        <span>Comunidades sugeridas</span>
        <div class="user">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt=""
            />
            <span>Los CPablos</span>
          </div>
        </div>
        <div class="user">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt=""
            />
            <span>No te duermas</span>
          </div>
        </div>
      </div>
      <div class="item">
        <span>Latest Activities</span>
        <div class="user">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt=""
            />
            <p>
              Nueva publicación en <span>TerrorGodel</span>
            </p>
          </div>
          <span>1 min ago</span>
        </div>
        <div class="user">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt=""
            />
            <p>
              Nueva publicación en <span>Risa</span>
            </p>
          </div>
          <span>9 min ago</span>
        </div>
        <div class="user">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt=""
            />
            <p>
              Nueva publicación en <span>AcciónLovers</span>
            </p>
          </div>
          <span>56 min ago</span>
        </div>

      </div>

    </div>
  </div>