.rightBar .container .item,
.rightBar .container .itemReciente {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--black-color); 
}

.rightBar .container .item span,
.rightBar .container .itemReciente span {
    color: rgb(255, 255, 255);
}

.rightBar .container .item .comunidad,
.rightBar .container .itemReciente .comunidadInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0px;
}

.rightBar .container .item .comunidad,
.rightBar .container .itemReciente .comunidad .comunidadInfo {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px; 
}

.rightBar .container .item .comunidad img,
.rightBar .container .itemReciente .comunidad .comunidadInfo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightBar .container .item .comunidad .online,
.rightBar .container .itemReciente .comunidad .comunidadInfo .online {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    left: 30px;
}

.rightBar .container .item .comunidad,
.rightBar .container .itemReciente .comunidad .comunidadInfo p {
    color: rgb(208, 239, 255);
}

.rightBar .container .item .comunidad,
.rightBar .container .itemReciente .comunidad .comunidadInfo span {
    font-weight: 500;
    color: rgb(144, 218, 255);
}

.rightBar .container .item .comunidad .buttons,
.rightBar .container .itemReciente .comunidad .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightBar .container .item .comunidad .buttons button,
.rightBar .container .itemReciente .comunidad .buttons button {
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.rightBar .container .item .comunidad .buttons button:first-child,
.rightBar .container .itemReciente .comunidad .buttons button:first-child {
    background-color: #5271ff;
}

.rightBar .container .item .comunidad .buttons button:last-child,
.rightBar .container .itemReciente .comunidad .buttons button:last-child {
    background-color: #f0544f;
}

.comunidad-nombre {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.comunidadTitulo {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    margin-top: 10px; /* Espacio superior para separar el título de los elementos anteriores */
}

.comunidad-nombre:hover {
    color: var(--hover-color);
    text-decoration: underline;
}
